@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$footer_bg: #222;
$primary_font: 'Rubik', sans-serif;

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
}

h1, .h1 {
    font-weight: 300;
    line-height: 3rem;
}

h2, .h2 {
    line-height: 2.5rem;
}

h3, .h3 {
    line-height: 2.25rem;
}

h4, .h4 {
    line-height: 1.875rem;
    margin-bottom: 3rem;
}

h5, .h5 {
    line-height: 1.875rem;
    margin-bottom: 0.75rem;
}

h6, .h6 {
    line-height: 1.5rem;
    margin-bottom: 0.75rem;
}

a {
    &:hover {
        text-decoration: none;
    }
}

section {
    padding: 3rem 0;
    @include media-breakpoint-up(sm) {
        padding: 4.5rem 0;
    }
}

.space-lg {
    @include media-breakpoint-up(lg) {
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
    }
}

ul:last-child {
    margin-bottom: 0;
}

.logo.logo-lg {
    height: 3rem;
}

.list-inline.list-inline-large {
    > .list-inline-item {
        &:not(:last-child) {
            margin-right: 3rem;
        }
    }
}

.post-date {
    font-size: .6875rem;
    color: lighten($footer_bg, 30%);
    display: block;
    margin: 0;
}

/* Footer */
.site-footer {
    font-size: .875rem;
    background: $footer_bg;
    color: lighten($footer_bg, 30%);
    a {
        color: lighten($footer_bg, 50%);
        &:hover {
            color: white;
        }
    }
    .footer-widgets {
        padding: 4rem  0;
        .widget-title {
            color: white;
        }
    }
    .footer-bar {
        padding: 1.3rem  0;
        p {
            margin-bottom: 0;
        }
    }
    .widget-recent-posts {
        ul {
            margin-bottom: 0;
            li {
                border-bottom: 1px solid lighten($footer_bg, 10%);
                padding: 10px 0;
                margin: 0;
                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    padding-bottom: 0;
                    border: 0;
                }
            }
        }
    }
    .widget-recent-works {
        ul {
            margin: 0 -4px;
            li {
                border: 0 !important;
                float: left;
                width: (100% / 3);
                padding: 4px;
                margin: 0;
            }
        }
    }
    .footer-bar {
        border-top: 1px solid lighten($footer_bg, 10%);
    }
}